{
  "global": {
    "show_lyrics": true,
    "record_plays": true,
    "record_searches": false,
    "music_source": "aa_qq",
    "custom_source_url": ""
  },
  "stats": {
    "searches": 0,
    "plays": 0,
    "lyrics_sent": 0,
    "lyrics_skipped": 0
  },
  "users": {},
  "song_stats": {},
  "groups": {},
  "records": [],
  "records_cleaned_on": ""
}
